*{
    padding: 0;
    box-sizing:  border-box;
    margin: 0;

}
.active-button{
    display: flex !important;
 }
#frame{
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
#logo-header{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
#logo-header .logo-img{
    width: 50%;
}



.btn{
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.7;
}

.btnCreate{
    background-color: #176B87;
   
}
 .breadcrumb{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
 .breadcrumb-item,
 .breadcrumb-item a{
    color: #a9a5a5;
    font-size: 14p;
}
 .breadcrumb-item a{ 
    text-decoration: none;
}
 .line{
    width: 2px;
    height: 15px;
    background-color: #ccc;
    margin:0px 10px;

}

.main-form{
    display: flex;
    padding: 20px 7.64vw;
    margin: 0 auto;
    width: 100%;
    min-height: 130vh;
    position: relative;
}

.form-us{
    min-width: 25%;
    min-height: 100vh;
    position: relative;
}
.content{
    display: flex;
    width: 100%;
    position: relative;
}
.nav{
    background-color: #fff;
    box-shadow: 0 0 1px rgba(40,41,61,.08), 0 0.5px 2px rgba(96,97,112,.16);
    width: 80%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;

}
.nav-item{
    list-style: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}
.nav-item i {
    background-color: transparent;
    color: #000;
    font-size: 16px;
    margin-right: 10px;
}
.nav-item:hover{
    background-color: #176B87;

}
.nav-item:hover a{
    color: #F5F7F8 !important;

}
.nav-item.active a,
.nav-item.active{
    background-color: #176B87;
    color: #F5F7F8 !important;
}
 .breadcrumb{
    list-style: none;
}
.logout.active{
    position: absolute;
    bottom: 0;
    background-color: #C70039 !important;
    margin-top: 50px;
    margin-bottom: 0;
}
.search-group 
{
    margin: 10px auto;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}
.search-input-group input {
    width: 100%;
    padding: 10px 40px;
}

.search-group label {
    width: 30%;
}
.list-lop{
    max-width: 60%;
    margin: auto;
}

.search-input-group{
    position: relative;
    width: 280px;
    float: right;
    margin-bottom: 50px;


}
.search-input-group .search-btn{
    position: absolute;
    font-size: 16px;
    width: 15%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: 0;
}
.search-input-group .search-input{
    display: block;
    height: 38px;
    background-color: #fafafa;
    border: 1px solid #e6e7e8;
    border-radius: 40px;
    width: 100%;
    padding: 7px 7px 7px 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333f48;
    outline: 0;
    box-shadow: none;
    width: 100%;
}
.list-lop .container {

    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    
}

.list-lop .list-item{
    display: inherit;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list-lop .list-header{
    margin-top: 20px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: #dadada;
}
.list-lop .list-header li{
    padding: 20px 10px;
    width: 25%;
    border-right: 1px solid #ccc;
    text-align: center;
}
.list-lop .list-item P,
.list-lop .list-item .group-btn{
    padding: 20px 10px;
    width: 25%;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.list-item .group-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnDelete{
    background-color: #C70039;
}

.btnUpdate{
    background-color: #12486B;
}
.list-page{
    margin: 20px 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.list-page li{
    margin: 0 4px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: inherit;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}
.list-page li.active{
    border: 1px solid #da291c;
    border-radius: 5px;
    color: #da291c;
}
.list-page .page-prev,
.list-page .page-next{
   display: none ;
}
.list-page #btn-page-prev,
.list-page #btn-page-next{
    border: none;
    background-color: #fff;
}
.list-page #btn-page-prev i,
.list-page #btn-page-next i{
    font-size: 16px;
    color: #333f48 !important;
    width: 32px;


}
.list-page .page-prev,
.list-page .page-next{
   display: none ;
}
.list-page #btn-page-prev,
.list-page #btn-page-next{
    border: none;
    background-color: #fff;
}
.list-page #btn-page-prev i,
.list-page #btn-page-next i{
    font-size: 16px;
    color: #333f48 !important;
    width: 32px;


}

.form-group{
    margin: 20px 0;
}
.form-group .label{
    margin-bottom: 10px;
}
#makhoa{
    width: 100%;
    height: 48px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #cbd5e1;
    color: #333f48;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    margin: 0 auto;

}
input{
    width: 100%;
    height: 48px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #cbd5e1;
    color: #333f48;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    margin: 0 auto;
}

.btnSave{
    width: 100%;
    border: 1px solid;
    background-color: #edf1f5;
    border-color: #cbd5e1;
    color: #a6b3c2;
    height: 48px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer; 
}

.btnSave.active{
    background-color: #C70039 !important;
    color: #fff !important;
    transition: all 0.3s ease-in-out;
}
table{
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
} 
.tb-content .group-delete{
    margin-right: 10px;
}   
.tb-header { 
    font-size: 16px;
    font-weight: 600;
    border-bottom:1px solid #ccc;
}
.tb-header td{
    background-color:#F5F7F8 ;
    padding: 15px ;
}
.tb-header td:not(:last-child){
    border-right:1px  solid #ccc;
}
.tb-content td{
    border:1px solid #ccc ;
    padding: 10px;

}
.tb-content{
    transition: all 0.3s ease-in-out;
}
.tb-content:hover{
    background-color: #ccd8dc;
    cursor: pointer;
}
.group-btn{
    display: flex;
    align-items: center;
}
.btnDelete{
    background-color: #C70039;
}

.btnUpdate{
    background-color: #12486B;
}
.btn{
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.7;
}